.git
**/.git
**/__pycache__
*.pyc
host_build
host_install
host_log
debug_build
debug_install
debug_log
manifests
tests
artifacts
third_party
visualization
docs
host
*.before*
*.bak*
config/site.env
cat/models
